[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
beautifulsoup4 = "*"
selenium = "*"
openpyxl = "*"
click = "*"
flake8 = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.12"
